{erl_opts, [no_debug_info]}.

{deps, [
    {bbmustache, "1.12.2"},
    {hackney, "1.18.1"},
    {jsx, "3.1.0"},
    {edate, {git, "https://github.com/dweldon/edate.git", {branch, "master"}}}
]}.

{escript_incl_apps, [hackney, strava_sync, jsx, edate, bbmustache]}.
{escript_main_app, strava_sync}.
{escript_name, strava_sync}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]}]}]}.
